body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Garamond", serif; /* Updated font-family */
    color: #2c3e50; /* Updated color */
}

h2 {
    font-weight: bold;
    margin-bottom: 10px;
    font-family: "Verdana", sans-serif; /* Updated font-family */
    color: #c0392b; /* Updated color */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #444;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}