body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .site-title {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .image-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .img-fluid {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  
  .hyperlink {
    text-decoration: none;
    color: #337ab7;
  }
  
  .hyperlink:hover {
    text-decoration: underline;
  }
  
  #scroll-top-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #337ab7;
    color: white;
    font-size: 16px;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
  }
  
  #scroll-top-button:hover {
    background-color: #4490d6;
  }
  